/* 
    Created on : 23 Oct, 2017, 8:51:02 PM
    Author     : Navi-PC
*/

.ui-layout-unit-header{
    background-color: red;
    text-align: center;
}

.startButton{
    margin-left: 45%;
}

.backGround{
            background-image:url(/ecommerce_frontend/resources/images/background.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: initial;      
}

.custInfo{
    width: 700px;
    margin-left: 400px;
    margin-top: 70px;
}

div.orderdetails{
            margin: 10px;              
}
.panelGridDate{
            margin-left: auto;
            margin-right: 10px;
}

.panelGridCost{
            margin-left: auto; 
            margin-right: 90px;
}

.panelGridCust{
            margin-left: 10px;
}

.orderLayout{ 
            margin: 20px;
            min-height:400px; min-width:200px;
}