**/dist/*
**/class/*
**/nbproject/private/*
/Ecommerce_app/ecommerce_frontend/nbproject/private/
/Ecommerce_app/warehouse_backend/nbproject/private/
/Ecommerce_app/ecommerce_frontend/dist/
/Ecommerce_app/warehouse_backend/dist/